@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.section-6
		h3
			font-size: 70px
		p
			left: 10px
			font-size: 20px
		.col-lg-8
			padding-top: 30px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.section-3 
		.tabs-content 
			.tabs-control-aside 
				ul>li 
					a
						padding-left: 5px
						font-size: 15px
	.section-5-item
		text-align: center
		padding-bottom: 50px
		img
			float: none !important
		span
			float: none !important
		a
			font-size: 16px !important
	.section-6
		text-align: center 
		.img-wrapper-sec-6
			text-align: center
		h3
			float: none 
			display: block
	.section-7
		h3
			font-size: 30px
			font-weight: bold
		.item-sec7
			height: 250px
			p
				font-size: 18px 
			img
				height: 190px 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.navbar-collapse
		padding: 0px
	.navbar-default
		ul
			width: 100%
			margin: 0px
			li
				display: inline-block
				width: 100%
				a
					display: block
	header
		input[type*=submit], input[type*=text]
			width: 100%
			margin-bottom: 10px
		h1
			font-size: 20px
		span
			font-size: 18px
	.to-prices-blc
		a
			font-size: 20px !important
	.sostav-comment
		width: 100% !important
		margin-bottom: 20px
		text-align: center !important
		&:after
			width: 0
			height: 0
			top: -20px !important
			left: 50% !important
			border-bottom: 10px solid #49ACEA !important
			border-top: 10px solid transparent !important
			border-left: 10px solid transparent !important
			border-right: 10px solid transparent !important
	.sostav-img
		text-align: center !important
		img
			width: 100px
	.mnu-toggle-blc
		display: block !important
	.tabs-control
		background: #68737D
		display: none

		a
			border: none !important
			font-size: 15px !important
			display: block !important
			width: 100% !important
			&:after
				border-top: none !important
				border-bottom: none !important
				border-left: none !important
				border-right: none !important
	.section-3 
		.tabs-content 
			.tabs-control-aside 
				ul>li 
					a
						padding-left: 15px
						font-size: 18px
				ul
					margin-left: -40px
	.tabs-control-2
		p
			font-size: 17px !important
	.section-4
		p
			font-size: 20px
			text-align: center
		.col-lg-4
			text-align: center
			img
				padding-bottom: 30px
	.section-5-header
		h3
			font-size: 20px !important
		p
			font-size: 18px !important
	.section-5-footer, .section-6-footer, .sec7-footer
		a
			font-size: 17px !important
			padding-left: 5px !important
			padding-right: 5px !important
	.section-7
		.item-sec7
			padding-top: 50px
			height: 430px
			p
				font-size: 25px

			img
				width: 50% 
				height: 300px
				margin-left: -25% 

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.section-7
		.item-sec7
			padding-top: 50px
			height: 430px
			p
				font-size: 25px
			img
				width: 100%
				height: 300px
				margin-left: -50% 

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	.item-wrapper
		.col-lg-2
			width: 100% 


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	.item-wrapper
		.col-lg-2
			width: 20% 

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	.item-wrapper
		.col-lg-2
			width: 20% !important
