@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.navbar-collapse
		padding: 0px
	.navbar-default
		ul
			width: 100%
			margin: 0px
			li
				display: inline-block
				width: 100%
				a
					display: block
	header
		input[type*=submit], input[type*=text]
			width: 100%
			margin-bottom: 10px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	.item-wrapper
	.col-lg-2
		width: 100% 

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	.item-wrapper
	.col-lg-2
		width: 20% 

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	.item-wrapper
	.col-lg-2
		width: 20% !important
