@import "fonts"
@import "libs"
@import "vars"


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto
// duty classes
.pos-rel
	position: relative

.wrapper-main-title
	color: $txtHeaderColor

.btn
	background: $accent
	color: #fff
	padding-top: 10px
	padding-bottom: 10px
	padding-left: 20px
	padding-right: 20px
	border-radius: 3px
	&:hover
		background: $accent-darker
		color: #fff
// end duty classes
// ============= costum navbar ============
.navbar-brand
	margin-top: -5px
.navbar-default
	background: $accent
	opacity: .9
	ul
		text-align: center
		float: none
		li
			color: #fff
			display: inline
			float: none
			a
				display: inline-block
.navbar-default .navbar-nav>li>a
	color: #fff
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	color: #fff
	background: $accent-darker
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	background: $accent-darker
.navbar-default .navbar-toggle .icon-bar
	background-color: #fff
.navbar-default .navbar-toggle
	border: none
// ============= end costum navbar ============

// header

header
	background: url(../../img/bg.jpg) no-repeat center
	padding-top: 70px
	background-color: #bdbdbd
	background-attachment: fixed
	+bg-size-cover
	
	a
		color: $accent
		border-bottom: 1px dashed #d53324
		&:hover
			color: $accent-darker
	.wrapper-right
		+text-align(right)
	img[src*=logo]
		padding-top: 10px
		padding-right: 10px
		border-right: 1px solid #000
	img[src*=rst]
		padding-top: 10px
	p
		padding-top: 3px
		line-height: 1.3em
	h1

		line-height: 1.2
		font-size: 33px
		font-weight: 900
		font-family: roboto,sans-serif
	span
		font-size: 36px
		padding-top: 30px
		i
			color: #008000
			font-style: normal
	ul
		margin-left: -20px
		li
			font-size: 16px
			font-weight: 300
			margin-bottom: 4px
			list-style: none
			&:before 
				content: '\2014'
				position: absolute
				margin-left: -20px
	.wrapper-main-title
		padding-left: 10px

	.pre-wrapper-main-title
		position: relative
		max-width: 900px
		img[src*=bracket-1], img[src*=bracket-2]
			position: absolute
		img[src*=bracket-1]
			top: -3px
		img[src*=bracket-2]
			bottom: 0
			right: 0
		img[src*=discount]
			top: -50px
			left: 185px
			position: absolute
	input[type*=text]
		padding-top: 10px
		padding-bottom: 10px
		padding-left: 30px
		border: 2px solid $accent
		width: 300px
	input[type*=submit]
		border: 2px solid $accent
		&:hover
			border: 2px solid $accent-darker
.second-middle-row
	padding-top: 50px
	padding-bottom: 20px
.third-row
	padding-top: 50px
	padding-bottom: 50px
.item
	margin-bottom: 10px
	background: #fff
	+text-align(center)
	padding: 20px
	&:hover
		img
			opacity: 1
	img
		padding-top: 20px
		border-bottom: 1px solid #000
		padding-bottom: 20px
		opacity: .2
	p
		padding-top: 20px
		line-height: 21px
		font-size: 16px
		font-weight: 300
.item-wrapper
	box-shadow: -10px 20px 30px 5px #bdbdbd
	padding-bottom: 50px
	.col-lg-2
		padding-right: 5px
		padding-left: 5px

// end header
// section-1

.section-1
	position: relative
	background: #EEEEF0
	h3
		font-size: 48px
		font-weight: bold
		text-align: center
		padding-bottom: 30px
		padding-top: 20px
	.mac-img-blc
		position: relative
		text-align: center
		img
			position: relative
			width: 95%
		.mac-video
			padding-top: 3.5%
			padding-left: 19%
			padding-right: 19%
			padding-bottom: 10%
			width: 100%
			height: 100%
			top: 0
			position: absolute
			iframe
				position: relative
				width: 100%
				height: 100%
	.to-prices-blc
		padding-top: 80px
		padding-bottom: 80px
		position: relaitve
		text-align: center
		a
			display: inline-block
			font-size: 33px
			padding-left: 10%
			padding-right: 10%
			padding-top: 2%
			padding-bottom: 2%
			font-weight: bold
			border-radius: 10px
		img
			display: inline-block
			position: absolute
			top: -20px
		
// end section-1

// section-2
.section-2
	background: #fff
	text-align: center
	h3
		font-size: 45px
		font-weight: 300
		padding-bottom: 40px
	.sostav-img
		text-align: right

	.sostav-comment
		margin-top: 20px
		border: 2px solid #49ACEA
		padding: 10px
		text-align: left
		width: 70%
		&:after
			content: ''
			display: block  
			position: absolute
			left: 5px
			top: 50%
			width: 0
			height: 0
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent
			border-right: 10px solid #49ACEA
	.section-2-footer
		text-align: center
		padding-top: 80px
		padding-bottom: 40px
// end section-2

//section-3
.section-3
	.wrapper-tab
		.mnu-toggle-blc
			display: none
			+clearfix
			background: #68737D
			p
				padding-top: 10px
				color: #fff
				float: left
				padding-left: 20px
			.navbar-toggle
				span
					background-color: #fff
		.tabs-control
			text-align: center
			margin-bottom: 50px
			a
				text-align: center
				width: 32%
				color: #000
				display: inline-block
				text-decoration: none
				font-weight: 300
				font-size: 18px
				border: 2px solid #49ACEA
				padding-top: 20px
				padding-bottom: 20px
			.active
				position: relative
				color: #fff
				border: 1px solid #525964
				background: #525964
				&:after
					content: ''
					display: block  
					position: absolute
					left: 45%
					top: 70px
					width: 0
					height: 0
					border-top: 10px solid #525964 
					border-bottom: 10px solid transparent 
					border-left: 10px solid transparent 
					border-right: 10px solid transparent 
	.tabs-content
		background: #EBECEE
		margin: 20px
		.tabs-control-aside
			ul>li
				list-style: none
				a
					display: inline-block
					text-decoration: none
					color: #000
					font-size: 18px
					padding-left: 20px
					padding-top: 20px
					padding-bottom: 20px
			.active
				position: relative
				background: #fff
				font-weight: bold
				&:after
					content: ''
					display: block  
					position: absolute
					right: -10px
					top: 35%
					width: 0
					height: 0
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent
					border-left: 10px solid #fff
		.col-lg-4
			p
				color: #8E99A1
				text-align: center
				padding-top: 15px
		.col-lg-8
			p
				padding-top: 10px
				line-height: 35px
				font-weight: 300
				font-family: roboto, sans-serif
				font-size: 20px
				b
					font-weight: normal
					color: #FF0000
	.wrapper-tab-item
		padding-right: 30px
//end section-3

// ============ end ===============

@import "media" // Всегда в конце
